github "SnapKit/SnapKit" ~> 4.0
github "Alamofire/Alamofire" ~> 4.7
github "Alamofire/AlamofireImage" ~> 3.5
github "RxSwiftCommunity/RxAlamofire" ~> 5.0
github "ReactiveX/RxSwift" ~> 5.0
github "RxSwiftCommunity/RxCoreLocation" ~> 1.4
github "RxSwiftCommunity/RxSwiftExt" ~> 5.0
github "AckeeCZ/Reqres" ~> 2.0
github "AckeeCZ/ACKategories" ~> 6.0.3
