<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>promotion_radius</key>
	<integer>500</integer>
	<key>is_dev</key>
	<string>NO</string>
	<key>base_url</key>
	<string>http://demo0569565.mockable.io</string>
</dict>
</plist>
